/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  | ENT  |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | SHFT |
//                    | ALT | ENT | LWR |   | RSE | SPC  | GUI |
                        bindings = <
   &kp TAB   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U &kp I &kp O &kp P &kp BSPC
   &kp LCTRL &kp A &kp S &kp D &kp F &kp G   &kp H &kp J &kp K &kp L &kp SEMI &kp RET
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                    &kp LALT &kp RET &mo 1   &mo 2 &kp SPACE &kp LGUI
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |  ~   |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9   |  0   | BKSP |
// |      | BT1 | BT2 | BT3 | BT4 | BT5 |   |  [  |  ]  |  \  |  UP  | HOME | END  |
// | SHFT | F1  | F2  | F3  | F4  | F5  |   |  -  |  =  | LFT | DWN  | RGT  | ESC  |
//                    | ALT |     | ENT |   | SPC |     | GUI |
                        bindings = <
   &kp TILDE &kp N1 &kp N2 &kp N3 &kp N4 &kp N5   &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp BSPC
   &trans &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 
                                                  &kp LBKT &kp RBKT &kp BSLH &kp UP &kp HOME &kp END
   &kp LSHFT &kp F1 &kp F2 &kp F3 &kp F4 &kp F5   &kp MINUS &kp EQUAL &kp LEFT &kp DOWN &kp RIGHT &kp ESC
                 &kp LALT &trans &kp RET          &kp SPACE &trans &kp LGUI
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// | ESC  |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9    |  0   | BKSP |
// | CTRL |  4  |  5  |  6  |  "  |  '  |   |  F6 |  F7 |  F8 | PG_UP | HOME | END  |
// | SHFT |  7  |  8  |  9  |     |     |   |  F9 | F10 | F11 | PG_DN | F12  | ESC  |
//                    |  0  |     | ENT |   | SPC |     | ALT |
                        bindings = <
   &kp ESC &kp N1 &kp N2 &kp N3 &kp N4 &kp N5       &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp BSPC
   &kp LCTRL &kp N4 &kp N5 &kp N6 &kp DQT &kg SQT   &kp F6 &kp F7 &kp F8 &kp PG_UP &kp HOME &kp END
   &kp LSHFT &kp N7 &kp N8 &kp N9 &trans &trans     &kp F9 &kp F10 &kp F11 &kp PG_DN &kp F12 &kp ESC
                        &kp N0 &kp RET &trans       &trans &kp SPACE &kp RALT
                        >;
                };
        };
};
